*{
    margin: 0;
    padding: 0;
    outline: 0;
    font-family: 'Open Sans', sans-serif;
}


.container{
    position: absolute;
    left: 72%;
    top: 50%;
    transform: translate(-50%,-50%);
    padding: 20px 25px;
    width: 400px;

    background-color: rgb(255, 255, 255);
    box-shadow: 0 0 10px rgba(10, 61, 119, 0.3);
}
.container h3{
    text-align: center;
    color: #111010;
    margin-bottom: 15px;
    text-transform: uppercase;
    /* border-bottom: 4px solid #2979ff; */
}
.container label{
    text-align: left;
    color: #2979ff;
}
.container form input{
    width: 100%;
    padding: 8px 10px;
    margin-bottom: 15px;
    border: 1;
    /* background-color: transparent; */
    /* border-bottom: 1px solid #f5f5f5; */
    color: #000000;
    font-size: 15px;
}
.container form button{
    width: 100%;
    padding: 5px 0;
    border: none;
    background-color:#2979ff;
    font-size: 18px;
    color: #fafafa;
}